#content-menu_wrap {
    width: 80vw;

    @include ipad {
        width: 137vw;
    }

    #container-leftmenu-content {

        #container-leftmenu-left {
            right: 0px;
            position: unset;
            border: none;


            #content-leftmenu {
                position: unset;
                width: 100%;
                padding: 10px;

                .breadcrumbs {
                    font-size: 18px;
                    letter-spacing: 1px;
                    color: rgb(144, 111, 111);
                }

                .items-leading {
                    @include ipad {
                        padding: 30px;
                    }

                    article {
                        font-family: 'Oswald', sans-serif;
                        font-size: 25px;
                        padding: 20px;
                        border-bottom: 1px solid black;
                        margin-top: 10px;

                        @include ipad {
                            font-size: 35px;
                        }

                        h2 {
                            text-align: center;
                            font-family: 'Anton', sans-serif;
                            font-size: 35px;

                            @include ipad {
                                font-size: 50px;
                            }
                        }

                        div[dir="auto"] {
                            @include ipadPro {
                                line-height: 30px;
                            }

                        }

                        div {
                            padding: 10px;

                            @include ipadPro {
                                line-height: 40px;
                            }
                        }

                        img.multithumb_blog {
                            border: 1px solid #ddd;
                            border-radius: 4px;
                            padding: 5px;
                        }

                    }
                }
            }
        }
    }
}