#content-menu_wrap {
    width: 80vw;

    @include ipad {
        width: 100vw;
        margin: 0;
    }


    #container-leftmenu-content {

        #container-leftmenu-left {
            right: 0px;
            position: unset;
            border: none;


            #content-leftmenu {
                position: unset;
                width: 100%;
                padding: 10px;

                @include ipad {
                    width: 100vw;
                }

                .breadcrumbs {
                    font-size: 18px;
                    letter-spacing: 1px;
                    color: rgb(44, 148, 200);
                }

                .items-leading {
                    @include ipad {
                        padding: 30px;
                    }

                    @include common {
                        width: 100vw;
                        box-sizing: border-box;
                        padding: 5px;
                    }

                    article {
                        font-family: 'Oswald', sans-serif;
                        font-size: 25px;
                        padding: 20px;
                        border-bottom: 1px solid black;
                        margin-top: 10px;

                        @include ipad {
                            font-size: 22px;
                        }

                        @include common {
                            font-size: 16px;
                        }

                        p:nth-of-type(1) {
                            @include ipad {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                            }

                            img {
                                @include ipad {
                                    width: 300px;
                                    height: auto;
                                }

                                @include common {
                                    width: 220px;
                                }
                            }
                        }

                        h2 {
                            text-align: center;
                            font-family: 'Anton', sans-serif;
                            font-size: 35px;

                            @include ipad {
                                font-size: 33px;
                                margin-top: 10px;
                            }

                            @include common {
                                font-size: 25px;
                                margin-top: 35px;
                            }
                        }

                        div[dir="auto"] {
                            @include ipadPro {
                                line-height: 30px;
                            }

                            @include common {
                                line-height: 22px;
                            }
                        }

                        div {
                            padding: 10px;

                            @include ipadPro {
                                line-height: 40px;
                            }
                        }

                        img.multithumb_blog {
                            border: 1px solid #ddd;
                            border-radius: 4px;
                            padding: 5px;
                        }

                    }
                }
            }
        }
    }
}