.item-page {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    padding: 30px;
    text-align: center;

    h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 35px;
        text-align: center;
        letter-spacing: 1px;
        padding: 10px;
    }

    p {
        text-align: justify;
        padding: 10px;
        line-height: 180%;
    }

    li.next {
        min-height: 35px;

        a {


            font-family: 'Oswald', sans-serif;
            margin: 10%;
            text-align: center;
            width: 200px;
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            cursor: pointer;
            margin: 20px;
            height: 55px;
            text-align: center;
            border: none;
            background-size: 300% 100%;
            border-radius: 50px;
            moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            background-color: white;
            background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B);
            box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);

            &:hover {
                background-position: 100% 0;
                moz-transition: all .4s ease-in-out;
                -o-transition: all .4s ease-in-out;
                -webkit-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
            }

            &:focus {

                outline: none;
            }
        }
    }

    ul.sigProContainer.sigProClassic {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .sigProThumb {
            width: 350px;
            height: 350px;

            .sigProLink.fancybox-gallery {
                width: 350px !important;
                height: 350px !important;
            }

            .sigProImg {
                height: 350px !important;
                width: 350px !important;
                background-size: cover;
                border-radius: 10px;
            }
        }
    }

    div[dir='auto'] {
        line-height: 50px;
    }
}