#box_placeholder {


    width: 100%;
    justify-content: center;

    @include ipad {
        flex-direction: column;
        width: 100vw;
        margin: 0;
        padding: 10px;
        text-align: center;
    }

    @include ipadProPlus {
        padding-left: 0px;
    }

    #box1,
    #box3 {
        flex-basis: 50%;

        @include ipad {
            flex-basis: 100%;
            width: 100%;
        }
    }

    #box1 {
        @include ipad {
            order: 2;
        }
    }

    #box3 {
        @include ipad {
            order: 1;
            display: flex;
            justify-content: center;
        }

        .newsflash {

            p,
            span {
                @include ipad {
                    font-size: 30px !important;
                    line-height: 35px;
                }
            }

        }
    }
}

#copyright {
    width: 100%;

    @include ipad {
        width: 100vw;
        margin: 0;
    }
}