#header {
    width: 100%;
    margin-top: 0px;
    border-radius: 0px;
    background: #1b1b1b;
    border-bottom: 1px solid white;
    height: 90px;

    #logo {

        a {
            color: #ffb000;
            font-size: 32px;
        }
    }

    #christmas {
        display: none;
    }
}