#header {
    width: 100%;
    margin-top: 0px;
    border-radius: 0px;
    background: #1b1b1b;
    height: 55px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 11;

    #logo {

        a {
            color: #ffb000;
            font-size: 32px;
        }
    }

    #christmas {
        display: none;
    }
}