#header {
    width: 100%;
    margin-top: 0px;
    border-radius: 0px;
    background: #1b1b1b;
    height: 55px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 11;

    @include ipad {
        height: 100px;
        width: 100vw;
    }

    #logo {
        @include ipad {
            width: 100vw;
        }

        @include common {
            justify-content: space-around;
        }

        a {
            color: #ffb000;
            font-size: 32px;

            @include ipad {
                font-size: 30px;
            }

            @include iphone6l {
                font-size: 27px;
            }

            @include common {
                font-size: 23px;
                padding: 10px;
                width: 200px;
            }
        }
    }

    #christmas {
        display: none;
    }
}