#menuAlek {
    display: none;
    position: fixed;
    top: 95px;
    right: -1000px;
    background-color: black;
    color: white;
    z-index: 12;
    transition: .5s;

    @include ipad {
        display: block;
    }

    @include iphoneLandscape {
        height: 140px;
        width: 245px;
        overflow: scroll;
    }

    ul {

        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;

        // @include iphoneLandscape {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     /* The main point: */

        //     /* Optional but highly reccomended: enables momentum scrolling on iOS */
        //     -webkit-overflow-scrolling: touch;
        // }

        li {
            margin-top: 5px;

            a {
                font-family: 'Oswald', sans-serif;
                text-decoration: none;
                font-size: 20px;
                color: white;
            }
        }
    }
}