$ipadProPlus: 1367px;
$ipadPro: 1025px;
$iphoneXl: 830px;
$ipad: 769px;
$iphone6l: 670px;
$iphoneX: 600px;
$common: 530px;


@mixin iphoneX {
    @media (max-width: #{$iphoneX}) {
        @content
    }
}

;

@mixin iphoneXl {
    @media (max-width: #{$iphoneXl}) {
        @content
    }
}

;

@mixin ipad {
    @media (max-width: #{$ipad}) {
        @content
    }
}

;

@mixin ipadPro {
    @media (max-width: #{$ipadPro}) {
        @content
    }
}

;

@mixin iphone6l {
    @media (max-width: #{$iphone6l}) {
        @content
    }
}

;

@mixin common {
    @media (max-width: #{$common}) {
        @content
    }
}

;

@mixin ipadProPlus {
    @media (max-width: #{$ipadProPlus}) {
        @content
    }
}

;

@mixin commonPort {
    @media (max-width: #{$common}) and (orientation: portrait) {
        @content
    }
}

;