#slideshow {
    margin-top: 104px;
    width: 80vw;

    .slides_container {
        width: 100%;

        img {
            width: 80vw;
            height: auto;
        }



    }

}

#slides {
    .slides_nav {

        .prev,
        .next {
            text-decoration: none;
            color: white;
            font-size: 30px;
            padding: 10px;
            border-radius: 50%;
            background-color: #0000007a;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            background-image: none;
        }
    }
}