#sponsorSlider {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;



    li {
        height: 90px;
        height: auto;
        margin: 5px;


    }

    img {
        height: 90px;

    }

    .moduletable {
        height: 90px;
        margin: 0px;
        margin-top: 5px;
    }
}